# Cron job to run full backup script every week on Sunday at 3:00 AM
* * * * * /usr/local/bin/node /app/scripts/fullBackup.js >> /var/log/cron.log 2>&1

# Cron job to run incremental backup script every 15 minutes
* * * * * /usr/local/bin/node /app/scripts/incrementalBackup.js >> /var/log/cron.log 2>&1
