{% extends "base3.html" %}
{% block content %}

<!-- <div class="pl-4"> -->
<div class="hidden h-full flex-1 flex-col space-y-8 p-8 md:flex">
    <div class="flex items-center justify-between space-y-2">
        <div>
            <h2 class="text-2xl font-bold tracking-tight">Verfügbarkeit von Fahrzeugen</h2>
            <!-- <p class="text-muted-foreground">Beschreibungstext</p> -->
        </div>
    </div>

    <div class="flex">
        <div>
            <input id="prevDay" type="button" value="<"
                class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
        </div>
        <div class="relative w-60">
            <input id="dateInput" type="date" onchange="change_date()"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>
        <div>
            <input id="nextDay" type="button" value=">"
                class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
        </div>
    </div>
    <br>

    {% if vehicles %}
    <div id="availability-table" class="select-none">
        <div>
            <table>
                <thead>
                    <tr>
                        <td></td>
                        <td>23:00<br>00 15 30 45</td>
                        <td>00:00<br>00 15 30 45</td>
                        <td>01:00<br>00 15 30 45</td>
                        <td>02:00<br>00 15 30 45</td>
                        <td>03:00<br>00 15 30 45</td>
                        <td>04:00<br>00 15 30 45</td>
                        <td>05:00<br>00 15 30 45</td>
                        <td>06:00<br>00 15 30 45</td>
                        <td>07:00<br>00 15 30 45</td>
                    </tr>
                </thead>
                <tbody id="tbody-1">
                    {% for vehicle in vehicles %}
                    <tr id="r-{{vehicle.id}}">
                        <td>{{vehicle.license_plate}}</td>
                        <td>
                            <table class="w-full h-full">
                                <tr>
                                    <td id="y-{{vehicle.id}}-23-00" class="border text-white">....</td>
                                    <td id="y-{{vehicle.id}}-23-15" class="border text-white">....</td>
                                    <td id="y-{{vehicle.id}}-23-30" class="border text-white">....</td>
                                    <td id="y-{{vehicle.id}}-23-45" class="border text-white">....</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="w-full h-full">
                                <tr>
                                    <td id="c-{{vehicle.id}}-00-00" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-00-15" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-00-30" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-00-45" class="border text-white">....</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="w-full h-full">
                                <tr>
                                    <td id="c-{{vehicle.id}}-01-00" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-01-15" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-01-30" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-01-45" class="border text-white">....</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="w-full h-full">
                                <tr>
                                    <td id="c-{{vehicle.id}}-02-00" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-02-15" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-02-30" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-02-45" class="border text-white">....</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="w-full h-full">
                                <tr>
                                    <td id="c-{{vehicle.id}}-03-00" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-03-15" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-03-30" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-03-45" class="border text-white">....</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="w-full h-full">
                                <tr>
                                    <td id="c-{{vehicle.id}}-04-00" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-04-15" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-04-30" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-04-45" class="border text-white">....</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="w-full h-full">
                                <tr>
                                    <td id="c-{{vehicle.id}}-05-00" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-05-15" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-05-30" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-05-45" class="border text-white">....</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="w-full h-full">
                                <tr>
                                    <td id="c-{{vehicle.id}}-06-00" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-06-15" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-06-30" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-06-45" class="border text-white">....</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="w-full h-full">
                                <tr>
                                    <td id="c-{{vehicle.id}}-07-00" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-07-15" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-07-30" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-07-45" class="border text-white">....</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <br>
        <div>
            <table>
                <thead>
                    <tr>
                        <td></td>
                        <td>08:00<br>00 15 30 45</td>
                        <td>09:00<br>00 15 30 45</td>
                        <td>10:00<br>00 15 30 45</td>
                        <td>11:00<br>00 15 30 45</td>
                        <td>12:00<br>00 15 30 45</td>
                        <td>13:00<br>00 15 30 45</td>
                        <td>14:00<br>00 15 30 45</td>
                        <td>15:00<br>00 15 30 45</td>
                        <td>16:00<br>00 15 30 45</td>
                    </tr>
                </thead>
                <tbody id="tbody-2">
                    {% for vehicle in vehicles %}
                    <tr id="r-{{vehicle.id}}">
                        <td>{{vehicle.license_plate}}</td>
                        <td>
                            <table class="w-full h-full">
                                <tr>
                                    <td id="c-{{vehicle.id}}-08-00" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-08-15" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-08-30" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-08-45" class="border text-white">....</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="w-full h-full">
                                <tr>
                                    <td id="c-{{vehicle.id}}-09-00" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-09-15" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-09-30" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-09-45" class="border text-white">....</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="w-full h-full">
                                <tr>
                                    <td id="c-{{vehicle.id}}-10-00" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-10-15" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-10-30" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-10-45" class="border text-white">....</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="w-full h-full">
                                <tr>
                                    <td id="c-{{vehicle.id}}-11-00" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-11-15" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-11-30" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-11-45" class="border text-white">....</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="w-full h-full">
                                <tr>
                                    <td id="c-{{vehicle.id}}-12-00" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-12-15" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-12-30" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-12-45" class="border text-white">....</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="w-full h-full">
                                <tr>
                                    <td id="c-{{vehicle.id}}-13-00" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-13-15" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-13-30" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-13-45" class="border text-white">....</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="w-full h-full">
                                <tr>
                                    <td id="c-{{vehicle.id}}-14-00" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-14-15" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-14-30" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-14-45" class="border text-white">....</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="w-full h-full">
                                <tr>
                                    <td id="c-{{vehicle.id}}-15-00" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-15-15" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-15-30" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-15-45" class="border text-white">....</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="w-full h-full">
                                <tr>
                                    <td id="c-{{vehicle.id}}-16-00" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-16-15" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-16-30" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-16-45" class="border text-white">....</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <br>
        <div>
            <table>
                <thead>
                    <tr>
                        <td></td>
                        <td>17:00<br>00 15 30 45</td>
                        <td>18:00<br>00 15 30 45</td>
                        <td>19:00<br>00 15 30 45</td>
                        <td>20:00<br>00 15 30 45</td>
                        <td>21:00<br>00 15 30 45</td>
                        <td>22:00<br>00 15 30 45</td>
                        <td>23:00<br>00 15 30 45</td>
                        <td>00:00<br>00 15 30 45</td>
                    </tr>
                </thead>
                <tbody id="tbody-3">
                    {% for vehicle in vehicles %}
                    <tr id="r-{{vehicle.id}}">
                        <td>{{vehicle.license_plate}}</td>
                        <td>
                            <table class="w-full h-full">
                                <tr>
                                    <td id="c-{{vehicle.id}}-17-00" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-17-15" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-17-30" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-17-45" class="border text-white">....</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="w-full h-full">
                                <tr>
                                    <td id="c-{{vehicle.id}}-18-00" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-18-15" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-18-30" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-18-45" class="border text-white">....</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="w-full h-full">
                                <tr>
                                    <td id="c-{{vehicle.id}}-19-00" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-19-15" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-19-30" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-19-45" class="border text-white">....</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="w-full h-full">
                                <tr>
                                    <td id="c-{{vehicle.id}}-20-00" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-20-15" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-20-30" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-20-45" class="border text-white">....</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="w-full h-full">
                                <tr>
                                    <td id="c-{{vehicle.id}}-21-00" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-21-15" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-21-30" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-21-45" class="border text-white">....</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="w-full h-full">
                                <tr>
                                    <td id="c-{{vehicle.id}}-22-00" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-22-15" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-22-30" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-22-45" class="border text-white">....</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="w-full h-full">
                                <tr>
                                    <td id="c-{{vehicle.id}}-23-00" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-23-15" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-23-30" class="border text-white">....</td>
                                    <td id="c-{{vehicle.id}}-23-45" class="border text-white">....</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="w-full h-full">
                                <tr>
                                    <td id="t-{{vehicle.id}}-00-00" class="border text-white">....</td>
                                    <td id="t-{{vehicle.id}}-00-15" class="border text-white">....</td>
                                    <td id="t-{{vehicle.id}}-00-30" class="border text-white">....</td>
                                    <td id="t-{{vehicle.id}}-00-45" class="border text-white">....</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    <br>
    <div>
        <h2 class="leading-tight text-gray-900 text-2xl pb-4">Fahrzeug hinzufügen</h2>
        <form action="/vehicle" method="post">
            <label for="license_plate">Kennzeichen:</label><br>
            <input type="text" id="license_plate" name="license_plate" placeholder="BZ-TU-00"
                class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
            <br><label for="seats">Sitzplätze:</label><br>
            <input type="text" id="seats" name="seats" value="3"
                class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
            <br><label for="wheelchair_capacity">Rollstuhlplätze:</label><br>
            <input type="text" id="wheelchair_capacity" name="wheelchair_capacity" value="0"
                class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
            <input type="submit" value="+" onclick="reload()"
                class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
        </form>
    </div>
</div>

<script>
    var map = {};

    var color_available = "#fcf3cf";
    var color_booked = "#e67e22";

    var mouse_down_id = "";
    var mouse_up_id = "";

    var current_dt = Date.now();
    var empty = false;

    function sleep(milliseconds) {
        return new Promise(resolve => setTimeout(resolve, milliseconds));
    }

    function reload() {
        if (empty) {
            console.log('first entry');
            sleep(2000);
            init(true);
            empty = false;
        } else {
            init(false);
            console.log('no relad');
        }
    }

    function clear() {
        map = {};
        rows = new Array('tbody-1', 'tbody-2', 'tbody-3');
        rows.forEach(tb_id => {
            let tbody = document.getElementById(tb_id);
            tbody.querySelectorAll('tr').forEach(row => {
                row.querySelectorAll('td').forEach(cell => {
                    if (cell.childNodes.length == 3) {
                        cell.children[0].querySelectorAll('tr').forEach(r => {
                            r.querySelectorAll('td').forEach(c => {
                                c.style.backgroundColor = "white";
                            });
                        });
                    }
                });
            });
        });
    }

    function init(reload) {
        // if (document.getElementById('availability-table') == null) {
        //     empty = true;
        //     console.log('No vehicles, exiting init()');
        //     return;
        // }
        clear();
        rows = new Array('tbody-1', 'tbody-2', 'tbody-3');
        rows.forEach(tb_id => {
            let tbody = document.getElementById(tb_id);
            tbody.querySelectorAll('tr').forEach(row => {
                row.querySelectorAll('td').forEach(cell => {
                    if (cell.childNodes.length == 3) {
                        cell.children[0].querySelectorAll('tr').forEach(r => {
                            r.querySelectorAll('td').forEach(c => {
                                if (reload) {
                                    c.addEventListener('mousedown', () => {
                                        mouse_down_id = c.id;
                                    });
                                    c.addEventListener('mouseup', () => {
                                        mouse_up_id = c.id;
                                        toggle_available(c.id);
                                    });
                                }
                                // init map data
                                map[c.id] = new Map([
                                    ['state', 0],
                                    ['tour', 0],
                                ]);
                                c.style.color = 'white';
                            });
                        });
                    }
                });
            });
        });
        get_availability();
        get_tours();
    }

    function get_cell_id(vehicle_id, date) {
        h = date.getHours().toString();
        m = date.getMinutes().toString();

        if (h.length < 2) h = '0' + h;
        if (m.length < 2) m = '0' + m;

        today_dom = new Date(current_dt).getDate();
        date_dom = new Date(date).getDate();

        if (date_dom == today_dom - 1 && date.getHours() >= 23) prefix = 'y';
        else if (date_dom == today_dom + 1 && date.getHours() < 1) { prefix = 't'; }
        else if (date_dom == today_dom) prefix = 'c';
        else return null; // datetime out of display range

        id = prefix + '-' + vehicle_id + '-' + h + '-' + m;
        return id;
    }

    function check_availability(vehicle_id, tour_id) {
        let t_start = tours[tour_id]['departure'];
        let t_end = tours[tour_id]['arrival'];
        let d_start = new Date(Date.parse(t_start.replace(' ', 'T')));
        let d_end = new Date(Date.parse(t_end.replace(' ', 'T')));
        let d_next = d_start;

        while (d_next <= d_end) {
            let c_id = get_cell_id(vehicle_id, d_next);
            d_next = new Date(d_next.getTime() + 15 * 60000);
            if (c_id == null) continue;
            console.log(map[c_id]['state']);
            if (map[c_id].get('state') != 1) {
                alert('Verschiebung nicht möglich.');
                return false;
            }
        }

        return true;
    }

    function mark_cells(vehicle_id, t_start, t_end, target_state, tour_id, move) {
        let d_start = new Date(Date.parse(t_start.replace(' ', 'T')));
        let d_end = new Date(Date.parse(t_end.replace(' ', 'T')));
        let d_next = d_start;


        while (d_next <= d_end) {
            let c_id = get_cell_id(vehicle_id, d_next);
            d_next = new Date(d_next.getTime() + 15 * 60000);
            if (c_id == null) continue;

            console.log(move);
            if (map[c_id].get('state') == 2 && !move) continue;

            if (target_state == 1) {
                cell = document.getElementById(c_id);
                cell.style.backgroundColor = color_available;
                cell.style.color = color_available;
                map[c_id].set('tour', 0);
            } else if (target_state == 2) {
                cell = document.getElementById(c_id);
                cell.style.backgroundColor = color_booked;
                cell.style.color = color_booked;
                map[c_id].set('tour', tour_id);
            } else if (target_state == 0) {
                cell = document.getElementById(c_id);
                cell.style.backgroundColor = 'white';
                cell.style.color = 'white';
                map[c_id].set('tour', 0);
            }
            map[c_id].set('state', target_state);
        }
    }

    function get_time_str(date, h, m) {
        h_str = h.toString();
        m_str = m.toString();

        if (h_str.length < 2) h_str = '0' + h_str;
        if (m_str.length < 2) m_str = '0' + m_str;

        let time_str = h_str + ':' + m_str + ':00';
        let day = date.getDate().toString();
        let month = (date.getMonth() + 1).toString();
        let year = date.getFullYear().toString();

        if (day.length < 2) day = '0' + day;
        if (month.length < 2) month = '0' + month;

        dt_str = year + '-' + month + '-' + day + ' ' + time_str;
        return dt_str;
    }

    function get_cell_info(cell_id) {
        console.log('cell_id', cell_id);
        let tokens = cell_id.split('-');
        let vehicle_id = tokens[1];
        let h = tokens[2];
        let m = tokens[3];

        let start_date = new Date(current_dt);

        if (tokens[0] == 'y') {
            start_date.setDate(new Date(current_dt).getDate() - 1);
            start_date.setHours(h);
            start_date.setMinutes(m);
        }

        if (tokens[0] == 't') {
            start_date.setDate(start_date.getDate() + 1);
            start_date.setHours(h);
            start_date.setMinutes(m);
        }

        dt_str = get_time_str(start_date, h, m);
        return [vehicle_id, dt_str];
    }

    function toggle_available(cell_id) {
        console.log('mouse_down_id:', mouse_down_id);
        console.log('mouse_up_id:', mouse_up_id);
        let cell_info_start = get_cell_info(mouse_down_id);
        let cell_info_end = get_cell_info(mouse_up_id);
        console.log('mouse_down_id:', mouse_down_id);
        console.log('mouse_up_id:', mouse_up_id);
        let vehicle_id_1 = cell_info_start[0];
        let vehicle_id_2 = cell_info_end[0];
        let date_time_start = cell_info_start[1];
        let date_time_end = cell_info_end[1];
        let state = map[cell_id].get('state');

        if (mouse_down_id == mouse_up_id && state == 2) {
            // single click on a tour
            tour_id = map[cell_id].get('tour');
            window.open('http://localhost:3030/routes?id=' + tour_id, '_blank').focus();
        }

        if (vehicle_id_1 == vehicle_id_2) {
            // mouse-up and mouse-down in same row
            dt_start = new Date(date_time_start);
            dt_end = new Date(date_time_end);
            if (dt_start > dt_end) {
                let tmp = date_time_start;
                date_time_start = date_time_end;
                date_time_end = tmp;
            }

            if (state == 0) {
                mark_cells(vehicle_id_1, date_time_start, date_time_end, 1, 0, false);
                set_availability(parseInt(vehicle_id_1), true, date_time_start, date_time_end);
            } else if (state == 1) {
                mark_cells(vehicle_id_1, date_time_start, date_time_end, 0, 0, false);
                set_availability(parseInt(vehicle_id_1), false, date_time_start, date_time_end);
            }
        } else {
            // mouse-up and mouse-down in different rows
            switch_vehicle_for_tour(map[mouse_down_id].get('tour'), mouse_down_id.split('-')[1], mouse_up_id.split('-')[1]);
        }

        // if (mouse_down_id == mouse_up_id) { // single cell clicked
        //     if (state == 1) {
        //         // available
        //         cell = document.getElementById(cell_id);
        //         cell.style.backgroundColor = 'white';
        //         map[cell_id]['state'] = 0;
        //         // cut out 15 min
        //         cut_start = new Date(date_time_start).getTime() - 15 * 60000;
        //         date_cut_start = new Date(cut_start);
        //         dt_start_str = get_time_str(date_cut_start, date_cut_start.getHours(), date_cut_start.getMinutes());
        //         set_availability(parseInt(vehicle_id_1), false, dt_start_str, date_time_end);
        //         // console.log('Remove availability for interval: ', dt_start_str, date_time_end);
        //     } else if (state == 2) {
        //         // booked
        //         document.getElementById('tour-id').value = map[cell_id]['tour'];
        //     }
        // } else {
        //     if (vehicle_id_1 == vehicle_id_2 && date_time_start != date_time_end) {
        //         // mouse-up and mouse-down in same row -> same vehicle ID
        //         dt_start = new Date(date_time_start);
        //         dt_end = new Date(date_time_end);
        //         if (dt_start > dt_end) {
        //             let tmp = date_time_start;
        //             date_time_start = date_time_end;
        //             date_time_end = tmp;
        //         }
        //         mark_cells(vehicle_id_1, date_time_start, date_time_end, 1, 0);
        //         set_availability(parseInt(vehicle_id_1), true, date_time_start, date_time_end);
        //     } else {
        //         // mouse-up and mouse-down in different rows
        //         console.log('down: ',);
        //         console.log('up: ', mouse_up_id.split('-')[1]);
        //         console.log('tour',);
        //         switch_vehicle_for_tour(map[mouse_down_id]['tour'], mouse_down_id.split('-')[1], mouse_up_id.split('-')[1])
        //     }
        // }

        console.log('reseting IDs')
        mouse_down_id = "";
        mouse_up_id = "";
    }

    function get_availability() {
        let dt = new Date(current_dt);
        let day = ("0" + dt.getDate()).slice(-2);
        let month = ("0" + (dt.getMonth() + 1)).slice(-2);
        let date = dt.getFullYear() + "-" + month + "-" + day;
        fetch("http://localhost:3030/vehicle_availability?id=1&date=" + date)
            .then(res =>
                res.json()).then(availability_lst => {
                    availability_lst.forEach(e => {
                        mark_cells(e['id'], e['availability_start'], e['availability_end'], 1, 0, false);
                    });
                })
    }

    function set_availability(vehicle_id, create, t_start, t_end) {
        data = { 'id': vehicle_id, 'create': create, 'availability_start': t_start, 'availability_end': t_end };
        fetch("http://localhost:3030/availability", {
            method: 'POST',
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),

        });
    }

    var tours = {};

    function get_tours() {
        let time_frame_start = "2024-05-02T00-00-00";
        let time_frame_end = "2024-05-02T23-59-59";
        vehicles = [{ id: 1 }, { id: 2 }];

        vehicles.forEach(v => {
            fetch("http://localhost:3030/vehicle_tours?vehicle_id=" + v['id']
                + '&time_frame_start=' + time_frame_start
                + '&time_frame_end=' + time_frame_end)
                .then(res =>
                    res.json()).then(data => {
                        data.forEach(e => {
                            mark_cells(v['id'], e['departure'], e['arrival'], 2, e['id'], false);
                            tours[e['id']] = e;
                        });
                    });
        });
    }

    function check_tour_realloc(tour_id, v_id_dst) {
        // check availability
        let tour = tours[tour_id];

    }

    function switch_vehicle_for_tour(tour_id, v_id_src, v_id_dst) {
        let tour = tours[tour_id];
        let move_possible = check_availability(v_id_dst, tour_id);
        console.log(move_possible);
        if (move_possible) {
            mark_cells(v_id_dst, tour.departure, tour.arrival, 2, tour_id, false);
            mark_cells(v_id_src, tour.departure, tour.arrival, 1, tour_id, true);
        }
    }

    function send_request() {
        // data = { 'id': vehicle_id, 'create': create, 'availability_start': t_start, 'availability_end': t_end };
        data = { 'id': 0 };
        fetch("http://localhost:3030/request", {
            method: 'POST',
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),

        });
    }

    function change_date() {
        current_dt = new Date(dateInput.value);
        init(false);
    }

    init(true);

    const dateInput = document.getElementById('dateInput');
    const prevDayBtn = document.getElementById('prevDay');
    const nextDayBtn = document.getElementById('nextDay');

    const dt = new Date(current_dt);
    const day = ("0" + dt.getDate()).slice(-2);
    const month = ("0" + (dt.getMonth() + 1)).slice(-2);
    const date = dt.getFullYear() + "-" + month + "-" + day;
    dateInput.value = date;

    // Function to navigate to the previous day
    prevDayBtn.addEventListener('click', () => {
        const currentDate = new Date(dateInput.value);
        currentDate.setDate(currentDate.getDate() - 1);
        dateInput.value = currentDate.toISOString().slice(0, 10);
        current_dt = currentDate;
        init(false);
    });

    // Function to navigate to the next day
    nextDayBtn.addEventListener('click', () => {
        const currentDate = new Date(dateInput.value);
        currentDate.setDate(currentDate.getDate() + 1);
        dateInput.value = currentDate.toISOString().slice(0, 10);
        current_dt = currentDate;
        init(false);
    });
</script>

{% endblock content %}