{% extends "base.html" %}
{% block content %}
<div class="cal mt-4 flex justify-center flex-col sm:flex-row space-y-4 sm:space-x-4 sm:space-y-0">
  <div class="space-y-4 rdp-caption_start rdp-caption_end">
    <div class="flex justify-center pt-1 relative items-center">
      <div class="text-sm font-medium" aria-live="polite" role="presentation" id="react-day-picker-1">February
        2024
      </div>
      <div class="space-x-1 flex items-center">
        <button name="previous-month" aria-label="Go to previous month" class="nav-btn left-1" type="button"><svg
            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4">
            <path d="m15 18-6-6 6-6"></path>
          </svg></button>
        <button name="next-month" aria-label="Go to next month" class="nav-btn right-1" type="button"><svg
            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4">
            <path d="m9 18 6-6-6-6"></path>
          </svg></button>
      </div>
    </div>
    <table class="w-full border-collapse space-y-1" role="grid" aria-labelledby="react-day-picker-1">
      <thead class="rdp-head">
        <tr class="flex">
          <th scope="col" class="weekday" aria-label="Sunday">Su</th>
          <th scope="col" class="weekday" aria-label="Monday">Mo</th>
          <th scope="col" class="weekday" aria-label="Tuesday">Tu</th>
          <th scope="col" class="weekday" aria-label="Wednesday">We</th>
          <th scope="col" class="weekday" aria-label="Thursday">Th</th>
          <th scope="col" class="weekday" aria-label="Friday">Fr</th>
          <th scope="col" class="weekday" aria-label="Saturday">Sa</th>
        </tr>
      </thead>
      <tbody class="rdp-tbody" role="rowgroup">
        <tr class="flex w-full mt-2">
          <td class="cal-day" role="presentation">
            <button name="day" class="outside" role="gridcell" tabindex="-1" type="button">28</button>
          </td>
          <td class="cal-day" role="presentation">
            <button name="day" class="outside" role="gridcell" tabindex="-1" type="button">29</button>
          </td>
          <td class="cal-day" role="presentation">
            <button name="day" class="outside" role="gridcell" tabindex="-1" type="button">30</button>
          </td>
          <td class="cal-day" role="presentation">
            <button name="day" class="outside" role="gridcell" tabindex="-1" type="button">31</button>
          </td>
          <td class="cal-day" role="presentation">
            <button name="day" class="inside" role="gridcell" tabindex="-1" type="button">1</button>
          </td>
          <td class="cal-day" role="presentation">
            <button name="day" class="inside" role="gridcell" tabindex="0" type="button">2</button>
          </td>
          <td class="cal-day" role="presentation">
            <button name="day" class="inside active" role="gridcell" aria-selected="true" tabindex="-1"
              type="button">3</button>
          </td>
        </tr>
        <tr class="flex w-full mt-2">
          <td class="cal-day" role="presentation">
            <button name="day" class="inside" role="gridcell" tabindex="-1" type="button">4</button>
          </td>
          <td class="cal-day" role="presentation">
            <button name="day" class="inside" role="gridcell" tabindex="-1" type="button">5</button>
          </td>
          <td class="cal-day" role="presentation">
            <button name="day" class="inside" role="gridcell" tabindex="-1" type="button">6</button>
          </td>
          <td class="cal-day" role="presentation">
            <button name="day" class="inside" role="gridcell" tabindex="-1" type="button">7</button>
          </td>
          <td class="cal-day" role="presentation">
            <button name="day" class="inside" role="gridcell" tabindex="-1" type="button">8</button>
          </td>
          <td class="cal-day" role="presentation">
            <button name="day" class="inside" role="gridcell" tabindex="-1" type="button">9</button>
          </td>
          <td class="cal-day" role="presentation">
            <button name="day" class="inside" role="gridcell" tabindex="-1" type="button">10</button>
          </td>
        </tr>
        <tr class="flex w-full mt-2">
          <td class="cal-day" role="presentation">
            <button name="day" class="inside" role="gridcell" tabindex="-1" type="button">11</button>
          </td>
          <td class="cal-day" role="presentation">
            <button name="day" class="inside" role="gridcell" tabindex="-1" type="button">12</button>
          </td>
          <td class="cal-day" role="presentation">
            <button name="day" class="inside" role="gridcell" tabindex="-1" type="button">13</button>
          </td>
          <td class="cal-day" role="presentation">
            <button name="day" class="inside" role="gridcell" tabindex="-1" type="button">14</button>
          </td>
          <td class="cal-day" role="presentation">
            <button name="day" class="inside" role="gridcell" tabindex="-1" type="button">15</button>
          </td>
          <td class="cal-day" role="presentation">
            <button name="day" class="inside" role="gridcell" tabindex="-1" type="button">16</button>
          </td>
          <td class="cal-day" role="presentation">
            <button name="day" class="inside" role="gridcell" tabindex="-1" type="button">17</button>
          </td>
        </tr>
        <tr class="flex w-full mt-2">
          <td class="cal-day" role="presentation">
            <button name="day" class="inside" role="gridcell" tabindex="-1" type="button">18</button>
          </td>
          <td class="cal-day" role="presentation">
            <button name="day" class="inside" role="gridcell" tabindex="-1" type="button">19</button>
          </td>
          <td class="cal-day" role="presentation">
            <button name="day" class="inside" role="gridcell" tabindex="-1" type="button">20</button>
          </td>
          <td class="cal-day" role="presentation">
            <button name="day" class="inside" role="gridcell" tabindex="-1" type="button">21</button>
          </td>
          <td class="cal-day" role="presentation">
            <button name="day" class="inside" role="gridcell" tabindex="-1" type="button">22</button>
          </td>
          <td class="cal-day" role="presentation">
            <button name="day" class="inside" role="gridcell" tabindex="-1" type="button">23</button>
          </td>
          <td class="cal-day" role="presentation">
            <button name="day" class="inside" role="gridcell" tabindex="-1" type="button">24</button>
          </td>
        </tr>
        <tr class="flex w-full mt-2">
          <td class="cal-day" role="presentation">
            <button name="day" class="inside" role="gridcell" tabindex="-1" type="button">25</button>
          </td>
          <td class="cal-day" role="presentation">
            <button name="day" class="inside" role="gridcell" tabindex="-1" type="button">26</button>
          </td>
          <td class="cal-day" role="presentation">
            <button name="day" class="inside" role="gridcell" tabindex="-1" type="button">27</button>
          </td>
          <td class="cal-day" role="presentation">
            <button name="day" class="inside" role="gridcell" tabindex="-1" type="button">28</button>
          </td>
          <td class="cal-day" role="presentation">
            <button name="day" class="inside" role="gridcell" tabindex="-1" type="button">29</button>
          </td>
          <td class="cal-day" role="presentation">
            <button name="day" class="outside" role="gridcell" tabindex="-1" type="button">1</button>
          </td>
          <td class="cal-day" role="presentation">
            <button name="day" class="outside" role="gridcell" tabindex="-1" type="button">2</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}