{% extends "base2.html" %}
{% block content %}

<div class="hidden h-full flex-1 flex-col space-y-8 p-8 md:flex">
    <div class="flex items-center justify-between space-y-2">
        <div>
            <h2 class="text-2xl font-bold tracking-tight">Tour Details</h2>
        </div>
    </div>

    <div class="space-y-4">
        <div class="rounded-md border">
            <div class="relative w-full overflow-auto">
                {% for wp in route.waypoints %}
                <table>
                    <tbody>
                        <tr>
                            <td>Datum</td>
                            <td>{{ wp.date }}</td>
                        </tr>
                        <tr>
                            <td>Zeit</td>
                            <td>{{ wp.time }}</td>
                        </tr>
                        <tr>
                            <td>Koordinaten</td>
                            <td>{{ wp.coordinates }}</td>
                        </tr>
                        <tr>
                            <td>Pickup</td>
                            <td>{{ wp.pickup }}</td>
                        </tr>
                        <tr>
                            <td>Drop</td>
                            <td>{{ wp.drop }}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}