{% extends "base2.html" %}
{% block content %}

<div class="hidden h-full flex-1 flex-col space-y-8 p-8 md:flex">
    <div class="flex items-center justify-between space-y-2">
        <div>
            <h2 class="text-2xl font-bold tracking-tight">Tour Details</h2>
        </div>
    </div>

    <div class="fex space-y-4">
        <div class="w-2/5 rounded-md border p-8">
            <div>
                <table class="table-auto">
                    <tbody>
                        <tr class="max-width">
                            <td class="pr-16">Tour ID:</td>
                            <td>{{tour.id}}</td>
                        </tr>
                        <tr>
                            <td class="pr-16">Beginn</td>
                            <td>{{tour.departure}}</td>
                        </tr>
                        <tr>
                            <td class="pr-16">Ende</td>
                            <td>{{tour.arrival}}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="py-8">
                    <h2 class="leading-tight text-gray-900 text-2xl pb-4">Stops</h2>
                    {% for event in tour.events %}
                    <table>
                        <tbody>
                            <tr>
                                <td class="pr-12">Id</td>
                                <td>{{ event.id }}</td>
                            </tr>
                            <tr>
                                <td class="pr-12">Latitude</td>
                                <td>{{ event.lat }}</td>
                            </tr>
                            <tr>
                                <td class="pr-12">Longitude</td>
                                <td>{{ event.lng }}</td>
                            </tr>
                            <tr>
                                <td class="pr-12">Fahrgast</td>
                                <td>{{ event.customer }}</td>
                            </tr>
                            <tr>
                                <td class="pr-12">Adresse</td>
                                <td>{{ event.adress }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}